* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
}

.nav-tittle {
    font-weight: 800;
    font-size: 45px;
    margin: 50px 0px 0px 226px;
}

nav ul {
    display: flex;
    margin: 50px 226px 0px 0px;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 0px 50px;
}

.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    width: 150px;
    height: 64px;
    color: #FFFFFF;
    border: 0px;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    margin: 50px 0px 0px 226px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}
.hardy {
    margin-left: 510px;
}
.banner-tittle {
    font-weight: 700;
font-size: 85px;
color: #181818;
margin-bottom: 20px;
}

.banner-p {
    font-weight: 400;
font-size: 18px;
color: #757575;
margin-bottom: 30px;
}
.btn-dcv {
    width: 200px;
    height: 64px;
    border: 0px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}
/* main section */
main{
    max-width: 1700px;
    margin: 0px auto;
}
/* about selection styles */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    margin: 131px;
    padding: 131px 157px;
    text-align: center;
}
.selection-tittle{
margin-bottom: 30px;
font-weight: 700;
font-size: 35px;
color: #181818;
}
.selection-parag {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
}
.info-title {
    font-weight: 400;
font-size: 20px;
color: #757575;
}
.info-description {
    color: #474747;
    font-weight: 700;
font-size: 20px;
}
/* what i do */
.section-tittle {
    text-align: center;
    font-weight: 700;
font-size: 35px;
color: #181818;
margin-bottom: 0px;
}
.section-description{
    font-weight: 400;
font-size: 18px;
color: #757575;
text-align: center;
margin: 0px 246px 50px 245px;
}
.skills-container {
    display: flex;
    gap: 24px;
    margin: 0px 230px;
}
.skill {
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px;
}
.skill-tittle {
    font-weight: 700;
font-size: 20px;
color: #181818;
margin-bottom: 20px;
}
.skill-description {
    font-weight: 400;
font-size: 16px;
color: #757575;
}
.skill-img {
    margin-bottom: 30px;
}
/* section resume */
.section-tittle {
    font-weight: 700;
font-size: 35px;
color: #181818;
margin-top: 130px;
margin-bottom: 113px;
}
.resume-container {
    display: flex;
    margin: 0 230px;
    gap: 71px;
}
.rusume-h3-tittle {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.rusume-sub-tittle {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    margin-top: 10px;
}
.rusume-h5-bpara {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.resume-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 10px;
}
.resume-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 113px;
}
/* footer section */
footer{
    background-color: #FFF8F3;;
}
.footer-container {
     display: flex;
}
.footer-elements {
    margin-left: 350px;
}
.footer-elements-two {
    margin-left: 350px;
}
.footer-head {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-top: 130px;
    margin-bottom: 20px;
}
.footer-parag {
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}
.footer-icon{
    display: flex;
    gap: 24px;
}
.input-name {
    width: 461px;
height: 50px;
background: #FFFFFF;
border-radius: 5px;
border: 0px;
padding: 30px;
margin-bottom: 24px;
}
.input-email{
    width: 461px;
height: 50px;
background: #FFFFFF;
border-radius: 5px;
border: 0px;
padding: 30px;
margin-bottom: 24px;
}
textarea {
    width: 461px;
height: 180px;
background: #FFFFFF;
border-radius: 5px;
border: 0px;
padding: 30px;
margin-bottom: 24px;
}
form {
    text-align: left;
}
.submit-btn {
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    width: 150px;
    height: 64px;
    color: #FFFFFF;
    border: 0px;
    margin-right: 400px;
    margin-bottom: 130px;
}